$buttonOffset: 8px;
$buttonSize: 32px;
$buttonFontSize: 1.2rem;

.unit-card-v2 {
  position: relative;
  // Give room for absolute children hanging over edges
  margin: 14px;

  background-color: white;

  &.activation {
    animation: pulse 0.5s linear;
  }

  &.defeated {
    animation: fadeOut 1.5s linear forwards;
  }

  .card-body {
    width: 140px;
    height: 200px;
    border: 1px solid #404854;
    border-radius: 6px;

    display: flex;
    flex-direction: column;

    .card-image {
      flex: 0 1 50%;
    }

    .card-name {
      flex: 0 0 auto;

      font-size: large;
      border-top: 1px solid #404854;
      border-bottom: 1px solid #404854;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-blurb {
      flex: 1 1 40%;
    }
  }

  .health-wrapper,
  .attack-wrapper,
  .frenzy-wrapper,
  .activation-cooldown-wrapper {
    position: absolute;
    border-radius: 50%;
    width: $buttonSize;
    height: $buttonSize;
    font-size: $buttonFontSize;

    .content {
      width: 100%;
      height: 100%;
      border-radius: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .health-wrapper {
    top: -$buttonOffset;
    left: -$buttonOffset;

    background-color: rgb(246, 145, 145);

    &.on-hit {
      animation: onHit 0.5s linear;
      animation-delay: 0.3s;
    }
  }

  .attack-wrapper {
    top: -$buttonOffset;
    right: -$buttonOffset;

    background-color: rgb(244, 248, 125);
  }

  .frenzy-wrapper {
    top: 26px;
    right: -$buttonOffset;
    background-color: rgb(157, 248, 217);
  }

  .activation-cooldown-wrapper {
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgb(186, 186, 253);

    &.activation-cooldown {
      animation: pulse 0.5s linear;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes onHit {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(251, 46, 46);
  }
  100% {
    background-color: white;
  }
}
