.unit-card {
  padding: 15px;
  border: 1px solid #404854;
  border-radius: 6px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  &.activation {
    animation: pulse 0.5s linear;
  }

  &.defeated {
    animation: fadeOut 1.5s linear forwards;
  }

  .name {
    font-weight: bold;
  }

  .health {
    &.on-hit {
      animation: onHit 0.5s linear;
      animation-delay: 0.3s;
    }
  }

  .cooldown {
    &.activation-cooldown {
      animation: pulse 0.5s linear;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes onHit {
  0% {
    background-color: white;
  }
  50% {
    background-color: rgb(251, 46, 46);
  }
  100% {
    background-color: white;
  }
}
