.play-screen {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "topnav topnav"
    "left right";

  .topnav {
    grid-area: topnav;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #ced5dd8e;

    .title {
      font-weight: bolder;
      font-size: 1.2rem;
    }
  }

  .left-team,
  .right-team {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-team {
    position: relative;
    grid-area: left;
  }

  .right-team {
    grid-area: right;
  }

  .vs {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);

    font-weight: bolder;
    font-size: 3rem;
  }

  .team-picker-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  .menu-item {
    cursor: pointer;
    padding: 20px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.15s linear;

    &:hover {
      border-color: #404854;
    }
  }
}
