.roster-screen {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px 50px auto;

  .topnav {
    padding: 5px;
  }

  .header {
    font-weight: bolder;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .roster-list {
    width: 100%;
    height: 100%;
    padding: 50px;

    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
