.game-screen {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40px 150px auto;
  grid-template-areas:
    "topnav topnav"
    "timer timer"
    "left right";

  .topnav {
    grid-area: topnav;
    padding: 5px;
    border-bottom: 1px solid #ced5dd8e;
  }

  .turn-timer {
    grid-area: timer;

    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .left-side,
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;

    .team-name {
      font-size: 1.4rem;
    }

    .team-list {
      display: flex;
    }
  }

  .left-side {
    grid-area: left;
    align-items: end;
    padding-right: 20px;

    .team-list {
      flex-direction: row-reverse;
    }
  }

  .right-side {
    grid-area: right;
    align-items: start;
    padding-left: 20px;
  }
}
