.game-screen {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 1fr 2fr;
  grid-template-areas:
    "topnav topnav"
    "header header"
    "left-side right-side";

  .game-navbar {
    grid-area: topnav;
    padding: 5px;
  }

  .header {
    grid-area: header;

    display: flex;
    justify-content: center;
    align-items: center;

    .turn-timer {
      &.active {
        animation: pulse 0.5s linear;
      }
    }
  }

  .left-team-area,
  .right-team-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;

    .team-unit-list {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: 20px;
    }
  }

  .left-team-area {
    grid-area: left-side;
    align-items: end;
    padding-right: 20px;
  }

  .right-team-area {
    grid-area: right-side;
    align-items: start;
    padding-left: 20px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
