.game-screen {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side";

  .left-team-area,
  .right-team-area {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .left-team-area {
    grid-area: left-side;
    align-items: end;
    padding-right: 20px;
  }

  .right-team-area {
    grid-area: right-side;
    align-items: start;
    padding-left: 20px;
  }
}
