@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "@blueprintjs/select/lib/css/blueprint-select.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

#root {
  position: relative;
  width: 100vw;
  height: 100vh;
}
