.teams-screen {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto;

  .topnav {
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #ced5dd8e;

    .title {
      font-weight: bolder;
      font-size: 1.2rem;
    }
  }

  .header {
    font-weight: bolder;
    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .teams-list {
    width: 100%;
    height: 100%;
    padding: 50px;

    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .team {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .team-name {
        font-weight: bold;
        font-size: 1.2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        .team-actions {
          display: flex;
          gap: 5px;
        }
      }

      .team-unit-list {
        overflow-x: auto;
        display: flex;
        align-items: center;
      }
    }
  }

  .menu-item {
    cursor: pointer;
    padding: 20px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: border-color 0.15s linear;

    &:hover {
      border-color: #404854;
    }
  }
}
